In [10]:
import os
from bs4 import BeautifulSoup as bs
from splinter import Browser
import random
import time

In [2]:
# The bs object:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://mars.nasa.gov/news/'

In [3]:
#visit the url
browser.visit(url)

In [4]:
#set up html and the soup
html = browser.html
soup = bs(html, 'lxml')

In [5]:
#get news title and teaser paragraph
news_content_title = soup.find('div', class_='content_title')
teaser_body_content = soup.find(class_='article_teaser_body')
latest_title = news_content_title.find('a').get_text()

In [6]:
teaser_body = teaser_body_content.text
teaser_body

'NASA is adding a Mars helicopter to the agency’s next mission to the Red Planet, Mars 2020.'

In [7]:

# for article in teaser_body:
#     news_p = (article.get_text())
#     print(news_p)

AttributeError: 'str' object has no attribute 'get_text'

In [13]:
# Part 2: Getting featured image with use of splinter
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [14]:
#visit img url & saving the html
browser.visit(url)
featured_image = browser.find_by_id('full_image')
featured_image.click()
time.sleep(5)
more_info = browser.click_link_by_partial_text('more info')
#more_info.click()
html=browser.html
img_soup = bs(html,'lxml')

In [20]:
featured_image = img_soup.find('figure', class_='lede')

In [25]:
# print(featured_image)
latest_image = "https://www.jpl.nasa.gov" + featured_image.find('a')['href']

In [26]:
# Twitter weather
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(random.random()*3)
html = browser.html
tweet_soup = bs(html, 'lxml')

In [27]:
tweet = tweet_soup.find('p', class_='TweetTextSize')
weather_tweet = tweet.get_text()

In [28]:
weather_tweet

'#InSight rising above the California fog on liftoff.https://twitter.com/birdsnspace/status/993603886106660864\xa0…'

In [29]:
# Facts abourt Mars
import pandas as pd

In [30]:
# url = 'https://space-facts.com/mars/'
# html = browser.html
# fact_soup = bs(html, 'lxml')

In [31]:
# browser.visit(url)
# table = fact_soup.find_all(id='tablepress-mars')

In [32]:
# for row in table:
#     data = (fact.text)
#     print (data)

In [37]:
df = pd.read_html('https://space-facts.com/mars/')[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [38]:
df.columns = ['Mars:', 'Fact']

In [40]:
df.set_index('Mars:', inplace=True)
df

                                               Fact
Mars:
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [41]:
table = df.to_html()

In [42]:
table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n    </tr>\n    <tr>\n      <th>Mars:</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [44]:
table = table.replace("\n", "")
table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>    </tr>    <tr>      <th>Mars:</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [45]:
# Hemispheres
url ='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [46]:
browser.visit(url)
html = browser.html
h_soup = bs(html,'lxml')

In [47]:
hemisphere = h_soup.find_all('a', class_='itemLink')

In [56]:
hemispheres = []
for i in hemisphere:
    browser.visit('https://astrogeology.usgs.gov'+i['href'])
    image = browser.find_by_text('Sample').first
    hemispheres.append(image['href'])
    browser.back()

In [57]:
hemispheres

['http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']